.auth-section {
  margin: 0 auto;
  min-height: 100vh;
  background-color: rgb(231, 251, 254);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container-1 {
  padding: 25px;
  margin-right: 30px;
}

.login-logo {
  padding: 20px 30px;
}

.auth-container-2 {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container-2 form {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: -5px 5px 20px #f5d6de, 5px -5px 20px #f5d6de;
}

.auth-container-2 form label input {
  padding: 10px;
  width: calc(100% - 30px);
  border: solid 1px #000000;
  font-size: 15px;
}

.auth-container-2 form label:nth-child(1) h4,
.auth-container-2 form label:nth-child(2) h4,
.auth-container-2 form label:nth-child(3) h4 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.auth-container-2 form label:nth-child(4) {
  display: flex;
}

.auth-container-2 form label:nth-child(4) input {
  width: 15px;
  margin: 1px 8px;
}

.auth-btn {
  margin-top: 10px;
  padding: 10px 5px;
  background-color: #f3567d;
  border: solid 2px #f3567d;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 17px;
  font-weight: 700;
}

.extra {
  margin: 5px;
}

.leaf {
  padding: 10px 150px;
}

.auth-btn:hover {
  background-color: #f883a2;
}

.handle-switch-btn {
  border: none;
  background-color: transparent;
  color: rgb(89, 89, 255);
  font-size: 13px;
  cursor: pointer;
}
