@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
.main-nav {
  font-family: Montserrat;
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  box-shadow: 0px 1px 5px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  z-index: 5;
  position: fixed;
  background-color: white;
}

.navbar {
  height: 100%;
  min-width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  padding: 2px 20px;
  margin-top: 5px;
}

.nav-item {
  margin: 0px 3px;
  font-size: medium;
  font-weight: 700;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.nav-btn {
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #f9e2e8;
}

.navbar form {
  flex-grow: 1;
  padding: 0px 12px;
  position: relative;
}

.navbar form input {
  min-width: 90%;
  padding: 8px 10px 8px 38px;
  margin: 0%;
  font-size: medium;
  font-weight: 700;
  border: solid 2px #000000;
  border-radius: 3px;
}

.navbar form .search-icon {
  position: absolute;
  left: 25px;
  top: 8px;
}

.nav-link {
  padding: 7px 13px;
  border: solid 1px #ec426d;
  border-radius: 3px;
  background-color: #f4ced8;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #df7390;
}
